@font-face {
  font-family: "CD Ovuer";
  src: url("../assets/fonts/assets/fonts/AnyConv.com__CDOvuer-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../assets/fonts/assets/fonts/AnyConv.com__PT_Sans-Narrow-Web-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
