* {
  outline: none;
  margin: 0;
  -moz-tap-highlight-color: transparent;
}

@font-face {
  font-family: "CD Ovuer";
  src: url("/xmas_res/assets/fonts/CDOvuer-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("..assets/fonts/PT_Sans-Narrow-Web-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #0d2115;
  color: aliceblue;
}

.ribbon_img {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.ribbon {
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  display: block;
  width: fit-content;
}

.gift_img {
  width: 100%;
  height: auto;
}

.gifts {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 70%;
}

.h_text_home {
  font-family: "CD Ovuer", sans-serif;
  font-size: 50px;
}

.h_wrap {
  font-family: "CD Ovuer", sans-serif;
  font-size: 38px;
  line-height: 90%;
  width: 75%;
  color: #f6dfb8;
}

.p_text_home {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  font-weight: 100;
  width: 80%;
}

.p_wrap {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 130px;
  line-height: 92%;
  color: #f6dfb8;
}

.p_wrap_no_bottom_m {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 130px;
  line-height: 92%;
  color: #f6dfb8;
}

.main_sec {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-top: 14px;
  color: #f6dfb8;
}

.margins {
  width: 70%;
  align-items: flex-start;
  margin: auto;
}

.button_main {
  color: #0d2115;
  font-family: "CD Ovuer", sans-serif;
  font-size: 25px;
  margin-top: 80px;
  border-radius: 60px;
  padding: 7px 17px;
  min-width: 70%;
  background-color: #f6dfb8;
  border: none;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button_main:visited,
.button_main:hover,
.button_main:active {
  color: #0d2115;
  text-decoration: none;
}

.no_und {
  text-decoration: none;
}

.info_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 130px;
}

.info_right_bg {
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 20%;
  width: 80%;
}

.info_right_content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.info_r_h {
  color: #f6dfb8;
  font-family: "CD Ovuer", sans-serif;
  font-size: 60px;
  line-height: 92%;
  width: 80%;
}

.info_r_p {
  color: #f6dfb8;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  line-height: 92%;
  width: 80%;
  margin-top: 20px;
}

.info_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 130px;
}

.info_left_bg {
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 20%;
  width: 100%;
}

.info_left_content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info_l_h {
  color: #f6dfb8;
  font-family: "CD Ovuer", sans-serif;
  font-size: 60px;
  line-height: 92%;
  width: 70%;
  margin-left: 15%;
}

.info_l_p {
  color: #f6dfb8;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
  line-height: 92%;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
}

.align-left {
  margin-right: auto;
  margin-left: 0;
}

.click-img {
  display: block;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 100%;
  max-height: 144px;
  -webkit-tap-highlight-color: transparent;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10%;
  margin: 40px 15% 60px 15%;
}

.grid-2x2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes simple-glow {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.06);
    filter: brightness(1.1);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

.ripple-animation {
  animation: simple-glow 0.5s ease-in-out;
}
.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
}

@keyframes confettiLeft {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0);
    opacity: 1;
  }
  10% {
    transform: translate(-30px, -30px) rotate(45deg) scale(1);
  }
  100% {
    transform: translate(
        calc(-100px - var(--random-x, 300px)),
        calc(100vh + var(--random-y, 200px))
      )
      rotate(calc(720deg + var(--random-rotate, 360deg)));
    opacity: 0;
  }
}

@keyframes confettiRight {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0);
    opacity: 1;
  }
  10% {
    transform: translate(30px, -30px) rotate(-45deg) scale(1);
  }
  100% {
    transform: translate(
        calc(100px + var(--random-x, 300px)),
        calc(100vh + var(--random-y, 200px))
      )
      rotate(calc(-720deg - var(--random-rotate, 360deg)));
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.celebrating {
  animation: pulse 0.5s ease-in-out;
}
